# SPDX-FileCopyrightText: Copyright (c) 2024-2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT

# pip-compile requirements.in > requirements.txt

# Runtime dependencies

httpx==0.28.1
PyYAML==6.0.2

# Dev dependencies

respx==0.22.0
pytest==8.3.4
pytest-cov==6.0.0
pytest-randomly==3.16.0
time-machine==2.16.0
more-itertools==10.6.0
time-machine==2.16.0
