# SPDX-FileCopyrightText: Copyright (c) 2024-2026 Yegor Bugayenko
# SPDX-License-Identifier: MIT

# pip-compile requirements.in > requirements.txt

# Runtime dependencies

httpx==0.28.1
PyYAML==6.0.3

# Dev dependencies

respx==0.23.1
pytest==9.1.1
pytest-cov==7.1.0
pytest-randomly==4.1.0
time-machine==3.4.0
more-itertools==11.1.0
