# MIT License
#
# SPDX-FileCopyrightText: Copyright (c) 2024-2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: load-generate
'on':
  push:
    branches:
      - master
jobs:
  build:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.5"
      - run: pip install -r requirements.txt
      - run: python compile.py cfp.yml README.md
      - uses: peter-evans/create-pull-request@v7
        with:
          branch: load-data
          commit-message: 'new CFP data'
          delete-branch: true
          title: 'New CFP data'
          assignees: uchitsa
          base: master
