# SPDX-FileCopyrightText: Copyright (c) 2024-2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: lint-py-files
on: [ "push", "pull_request" ]
jobs:
  pep8:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: 'Run PEP8'
        uses: quentinguidee/pep8-action@v1
        with:
          arguments: '--max-line-length=120'
  wemake-python-styleguide:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.5"
      - name: Install wemake-python-styleguide
        run: pip install wemake-python-styleguide==1.0.0 ruff==0.9.4
      - name: Run ruff and wemake-python-styleguide
        run: ruff check compile.py && flake8 compile.py
